openapi: 3.1.0
info:
  title: WAzion API
  description: |
    WAzion is a WhatsApp Business automation and AI assistant platform. This API exposes
    353 tools via the Model Context Protocol (MCP) over JSON-RPC 2.0, allowing you to
    manage every aspect of your WAzion dashboard programmatically.

    ## Protocol

    All requests use **JSON-RPC 2.0** over a single POST endpoint. The server implements
    the MCP Streamable HTTP transport (spec 2025-03-26).

    ## Authentication

    Include your API token as a Bearer token in the `Authorization` header. You can find
    your token in the WAzion Dashboard under **Settings**.

    ## Quick Start

    ```bash
    curl -X POST https://www.wazion.com/api/mcp/ \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{"jsonrpc":"2.0","method":"tools/call","params":{"name":"get_shop_status","arguments":{}},"id":1}'
    ```
  version: 1.1.0
  contact:
    name: WAzion Support
    url: https://www.wazion.com
    email: support@wazion.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.wazion.com/api/mcp
    description: Production

security:
  - bearerAuth: []

tags:
  - name: account
    description: Datos de cuenta y facturacion
  - name: activity
    description: Resumenes de actividad, tendencias y metricas operativas
  - name: advanced
    description: Webhooks, funciones personalizadas, CRM
  - name: agents
    description: Gestion de agentes de atencion
  - name: ai_analysis
    description: Resumenes y analisis de sentimiento con inteligencia artificial
  - name: automation
    description: WhatsApp Auto y workflows de automatizacion
  - name: calendar
    description: Eventos y citas programadas
  - name: conversations
    description: Buscar, ver y analizar conversaciones con clientes
  - name: customers
    description: Informacion de clientes, comentarios, tags y busqueda
  - name: email
    description: Gestion de cuentas de correo electronico, auto-responder y estadisticas de email
  - name: general
    description: Ajustes basicos del dashboard
  - name: integrations
    description: Conexiones con servicios externos
  - name: knowledge
    description: Gestión de archivos y documentos de la base de conocimiento
  - name: mass_marketing
    description: Campanas masivas por WhatsApp, listas de contactos y configuracion de envios
  - name: notifications
    description: Gestion de notificaciones del sistema
  - name: plugins
    description: Plugins y extensiones
  - name: products
    description: Busqueda de productos y estadisticas de consultas
  - name: prompt
    description: Configuracion del asistente IA
  - name: referrals
    description: Programa de referidos - genera enlaces y consulta ganancias
  - name: smart_followup
    description: Analisis automatico de conversaciones para detectar intencion de compra y enviar seguimientos personalizados
  - name: stats
    description: Metricas y analytics
  - name: storage
    description: Gestion de archivos y almacenamiento
  - name: support
    description: Contacto con soporte tecnico
  - name: tasks
    description: Gestion de tareas y recordatorios asociados a clientes
  - name: whatsapp_ops
    description: Estado de sesiones, logs de mensajes y ejecucion de workflows

paths:
  /:
    post:
      operationId: jsonRpcRequest
      summary: JSON-RPC 2.0 endpoint
      description: |
        All WAzion API operations go through this single endpoint using JSON-RPC 2.0.

        ### Available methods

        | Method | Auth Required | Description |
        |--------|--------------|-------------|
        | `initialize` | No | MCP handshake |
        | `tools/list` | Yes | List all available tools |
        | `tools/call` | Yes | Execute a tool |
        | `resources/list` | Yes | List available resources |
        | `resources/read` | Yes | Read a resource (e.g. shop://profile) |
        | `ping` | Yes | Health check |

        ### Tool execution

        Use `tools/call` with `params.name` set to the tool name and `params.arguments`
        containing the tool parameters.

        ### Confirmations

        Some destructive actions require confirmation. On the first call, the server
        returns a warning message. Call again with `confirm: true` in the arguments
        to execute.

        ### Batch requests

        You can send an array of JSON-RPC requests for batch processing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              initialize:
                summary: MCP handshake
                value:
                  jsonrpc: "2.0"
                  method: initialize
                  params:
                    protocolVersion: "2025-03-26"
                    capabilities: {}
                    clientInfo:
                      name: my-app
                      version: "1.0.0"
                  id: 1

              tools_list:
                summary: List all tools
                value:
                  jsonrpc: "2.0"
                  method: tools/list
                  params: {}
                  id: 2

              send_message:
                summary: Send a WhatsApp message
                value:
                  jsonrpc: "2.0"
                  method: tools/call
                  params:
                    name: send_whatsapp_message
                    arguments:
                      phone: "+34600000000"
                      message: "Hello from WAzion API!"
                      session_id: 1
                  id: 3

              list_conversations:
                summary: List recent conversations
                value:
                  jsonrpc: "2.0"
                  method: tools/call
                  params:
                    name: get_recent_conversations
                    arguments:
                      limit: 10
                  id: 4
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '401':
          description: Missing or invalid Bearer token
        '405':
          description: Method not allowed (only POST accepted)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token from WAzion Dashboard > Settings

  schemas:
    JsonRpcRequest:
      type: object
      required: [jsonrpc, method, id]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        method:
          type: string
          enum: [initialize, tools/list, tools/call, resources/list, resources/read, ping]
        params:
          type: object
        id:
          oneOf:
            - type: string
            - type: integer

    JsonRpcResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        result:
          description: Success payload (present on success)
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            data: {}
          description: Error payload (present on failure)
        id:
          oneOf:
            - type: string
            - type: integer

    # ── Tool Schemas ──────────────────────────────────

    AddContactsToListArgs:
      description: |
        **add_contacts_to_list** [mass_marketing] (mutation)
        Añade uno o más contactos a una lista de marketing
      type: object
      properties:
        action:
          type: string
        list_id:
          type: integer
          description: "ID de la lista"
        contacts:
          type: array
          description: "Array de contactos [{phone, name}]"
      required: ["action", "list_id", "contacts"]

    AddCustomerCommentArgs:
      description: |
        **add_customer_comment** [customers] (mutation)
        Anade un nuevo comentario interno a la ficha de un cliente
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Numero de telefono del cliente"
        comment:
          type: string
          description: "Texto del comentario"
        agent_name:
          type: string
          description: "Nombre del agente que deja el comentario (default: Assistant)"
          default: "Assistant"
        query:
          type: string
          description: "Texto de busqueda"
        limit:
          type: integer
          description: "Maximo de resultados"
        tag_name:
          type: string
          description: "Nombre del tag"
        tag_color:
          type: string
          description: "Color del tag en formato hexadecimal"
        primary_phone:
          type: string
          description: "Telefono principal para merge"
        secondary_phone:
          type: string
          description: "Telefono secundario para merge"
      required: ["action", "phone", "comment"]

    AddCustomerTagArgs:
      description: |
        **add_customer_tag** [customers] (mutation)
        Anade una etiqueta (tag) a un cliente para clasificarlo
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Numero de telefono del cliente"
        tag_name:
          type: string
          description: "Nombre del tag"
        tag_color:
          type: string
          description: "Color del tag en hex (default: #2563eb)"
          default: "#2563eb"
        comment:
          type: string
          description: "Texto del comentario"
        agent_name:
          type: string
          description: "Nombre del agente"
        query:
          type: string
          description: "Texto de busqueda"
        limit:
          type: integer
          description: "Maximo de resultados"
        primary_phone:
          type: string
          description: "Telefono principal para merge"
        secondary_phone:
          type: string
          description: "Telefono secundario para merge"
      required: ["action", "phone", "tag_name"]

    AddEmailNoteArgs:
      description: |
        **add_email_note** [email] (mutation)
        Agrega una nota interna a un hilo de email. Solo visible para agentes.
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'add'"
        thread_id:
          type: integer
          description: "ID del hilo"
        note_text:
          type: string
          description: "Texto de la nota"
      required: ["action", "thread_id", "note_text"]

    AddToBlacklistArgs:
      description: |
        **add_to_blacklist** [mass_marketing] (mutation)
        Bloquea un numero de telefono para que no reciba campanas de marketing masivo
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: add"
        phone:
          type: string
          description: "Numero de telefono a bloquear (con prefijo internacional, ej: +34612345678)"
        reason:
          type: string
          description: "Motivo del bloqueo (opcional, max 500 caracteres)"
      required: ["action", "phone"]

    AddWhatsappOptoutArgs:
      description: |
        **add_whatsapp_optout** [whatsapp_ops] (mutation)
        Anade un numero a la lista de opt-out para que no reciba mensajes automaticos
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Numero de telefono con prefijo internacional"
        reason:
          type: string
          description: "Motivo del opt-out"
      required: ["action", "phone"]

    ApplyPromptInstructionArgs:
      description: |
        **apply_prompt_instruction** [prompt] (query)
        Genera una version modificada del prompt segun una instruccion. NO guarda los cambios - solo devuelve el prompt modificado como preview. Despues de obtener el resultado, DEBES llamar a save_prompt para guardar los cambios. Ejemplos: 'Anade horario de atencion de 9 a 18h', 'Quita la parte de devoluciones', 'Hazlo mas formal'.
      type: object
      properties:
        prompt:
          type: string
          description: "El prompt a modificar. Si no se proporciona, el endpoint lee automaticamente el prompt actual de la tienda. No es necesario llamar a get_prompt primero."
        instruction:
          type: string
          description: "La instruccion de que modificar en el prompt"
      required: ["instruction"]

    ApplyTrainingSuggestionArgs:
      description: |
        **apply_training_suggestion** [knowledge] (mutation)
        Aplica una sugerencia de entrenamiento de IA. Segun el nivel, crea un snippet de conocimiento o actualiza el prompt del asistente.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
        suggestion_id:
          type: integer
          description: "ID de la sugerencia a aplicar"
        instruction:
          type: string
          description: "Instruccion personalizada de aplicacion"
      required: ["action", "suggestion_id"]

    ApproveCampaignArgs:
      description: |
        **approve_campaign** [mass_marketing] (mutation)
        Aprueba una campaña pendiente de aprobación para que pueda ser enviada
      type: object
      properties:
        action:
          type: string
        campaign_id:
          type: integer
          description: "ID de la campaña a aprobar"
      required: ["action", "campaign_id"]

    ApproveKnowledgeSnippetArgs:
      description: |
        **approve_knowledge_snippet** [knowledge] (mutation)
        Aprueba un snippet de conocimiento pendiente y lo activa
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        id:
          type: integer
          description: "ID del snippet a aprobar"
      required: ["action", "id"]

    ArchiveCampaignArgs:
      description: |
        **archive_campaign** [mass_marketing] (mutation)
        Archiva una campaña completada para mantener la lista limpia
      type: object
      properties:
        action:
          type: string
        campaign_id:
          type: integer
          description: "ID de la campaña a archivar"
      required: ["action", "campaign_id"]

    AssignCalendarAgentArgs:
      description: |
        **assign_calendar_agent** [calendar] (mutation)
        Asigna un agente a un calendario con un rol especifico
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        calendar_id:
          type: integer
          description: "ID del calendario"
        agent_id:
          type: integer
          description: "ID del agente"
        role:
          type: string
          description: "Rol: owner, can_book, view_only"
      required: ["action", "calendar_id", "agent_id"]

    AssignEmailThreadArgs:
      description: |
        **assign_email_thread** [email] (mutation)
        Asigna un hilo de email a un agente especifico. Usar assign_to=null para desasignar.
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'assign'"
        thread_id:
          type: integer
          description: "ID del hilo"
        assign_to:
          type: integer
          description: "ID del agente (shop_agents.id). Omitir o null para desasignar."
        agent_hash:
          type: string
          description: "Hash del agente a asignar (null para desasignar)"
      required: ["action", "thread_id"]

    AssignMarketingSessionArgs:
      description: |
        **assign_marketing_session** [mass_marketing] (mutation)
        Habilita o deshabilita una sesión de WhatsApp para envío de campañas de marketing
      type: object
      properties:
        action:
          type: string
        session_id:
          type: integer
          description: "ID de la sesión WhatsApp"
        enable_mass_marketing:
          type: boolean
          description: "true para habilitar, false para deshabilitar"
      required: ["action", "session_id", "enable_mass_marketing"]

    AutoCategorizeConversationsArgs:
      description: |
        **auto_categorize_conversations** [ai_analysis] (query)
        Categoriza conversaciones recientes por tema, intento y prioridad usando IA
      type: object
      properties:
        action:
          type: string
        hours:
          type: integer
          description: "Horas a analizar (default 24)"
        limit:
          type: integer
          description: "Conversaciones a categorizar (default 10, max 20)"
        phone:
          type: string
          description: "Filtrar por telefono del cliente"
        summary_type:
          type: string
          description: "Tipo de resumen: quick (rapido), actionable (con acciones), detailed (detallado)"
          enum: ["quick", "actionable", "detailed"]
        days:
          type: integer
          description: "Numero de dias a analizar"
        tone:
          type: string
          description: "Tono para la respuesta"
        target_language:
          type: string
          description: "Idioma destino para traduccion"
        last_n:
          type: integer
          description: "Ultimos N mensajes a procesar"
      required: ["action"]

    AutoTagCustomerArgs:
      description: |
        **auto_tag_customer** [ai_analysis] (query)
        Analiza la conversacion con IA y sugiere tags relevantes para el cliente
      type: object
      properties:
        action:
          type: string
        phone:
          type: string
          description: "Telefono del cliente"
        summary_type:
          type: string
          description: "Tipo de resumen: quick (rapido), actionable (con acciones), detailed (detallado)"
          enum: ["quick", "actionable", "detailed"]
        days:
          type: integer
          description: "Numero de dias a analizar"
        tone:
          type: string
          description: "Tono para la respuesta"
        hours:
          type: integer
          description: "Ultimas N horas a analizar"
        limit:
          type: integer
          description: "Maximo de resultados"
        target_language:
          type: string
          description: "Idioma destino para traduccion"
        last_n:
          type: integer
          description: "Ultimos N mensajes a procesar"
      required: ["action", "phone"]

    BulkAddToBlacklistArgs:
      description: |
        **bulk_add_to_blacklist** [mass_marketing] (mutation)
        Añade varios números de teléfono a la lista negra de marketing masivo de una vez
      type: object
      properties:
        action:
          type: string
        phones:
          type: array
          description: "Array de números de teléfono a añadir a la lista negra"
        reason:
          type: string
          description: "Motivo de la inclusión en la lista negra"
      required: ["action", "phones"]

    BulkDeleteWorkflowsArgs:
      description: |
        **bulk_delete_workflows** [automation] (mutation)
        Elimina multiples workflows de WhatsApp a la vez. OBLIGATORIO: Antes de llamar, usa list_whatsapp_workflows para obtener los workflows y confirma con el usuario la lista EXACTA de nombres e IDs a eliminar. NUNCA eliminar workflows sin confirmacion explicita del usuario sobre cuales borrar. Si el usuario dice 'limpieza maxima' o similar, listar primero los workflows y preguntar cuales quiere eliminar (todos, solo los desactivados, etc.). FLUJO DE CONFIRMACION OBLIGATORIO: Esta accion devolvera success=false con requires_confirmation=true — esto NO es un error, es el paso 1 del flujo normal. Cuando recibas esta respuesta: 1) Describe brevemente los workflows que se eliminaran, 2) PARA completamente, 3) NUNCA vuelvas a llamar a esta misma accion — hacerlo INVALIDA el token de confirmacion y rompe el flujo. Los botones aparecen automaticamente.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
        workflow_ids:
          type: array
          description: "Array de IDs de workflows a eliminar"
      required: ["action", "workflow_ids"]

    BulkToggleWorkflowsArgs:
      description: |
        **bulk_toggle_workflows** [automation] (mutation)
        Activa o desactiva multiples workflows a la vez
      type: object
      properties:
        action:
          type: string
        workflow_ids:
          type: array
          description: "Array de IDs de workflows"
        enabled:
          type: boolean
          description: "true para activar, false para desactivar"
      required: ["action", "workflow_ids", "enabled"]

    CancelCampaignArgs:
      description: |
        **cancel_campaign** [mass_marketing] (mutation)
        Cancela definitivamente una campana de marketing masivo (en curso, pausada, borrador o programada). Los mensajes ya enviados no se deshacen.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: cancel"
        campaign_id:
          type: integer
          description: "ID de la campana a cancelar"
      required: ["action", "campaign_id"]

    CancelCampaignScheduleArgs:
      description: |
        **cancel_campaign_schedule** [mass_marketing] (mutation)
        Cancela la programacion de una campana programada, cambiandola a estado borrador. No elimina la campana.
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: cancel_schedule"
        campaign_id:
          type: integer
          description: "ID de la campana programada"
      required: ["action", "campaign_id"]

    CancelScheduledEmailArgs:
      description: |
        **cancel_scheduled_email** [email] (mutation)
        Cancela un email que estaba programado para enviarse. El email se elimina.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'cancel_scheduled'"
        message_id:
          type: integer
          description: "ID del mensaje programado a cancelar"
        to:
          type: string
          description: "Destinatario del email"
        subject:
          type: string
          description: "Asunto del email"
        body_text:
          type: string
          description: "Cuerpo en texto plano"
        cc:
          type: array
          description: "Copia a (array de emails)"
        bcc:
          type: array
          description: "Copia oculta (array de emails)"
        account_id:
          type: integer
          description: "ID de la cuenta de email"
        attachment_ids:
          type: array
          description: "IDs de adjuntos"
        scheduled_at:
          type: string
          description: "Fecha programada"
      required: ["action", "message_id"]

    CancelScheduledMessageArgs:
      description: |
        **cancel_scheduled_message** [whatsapp_ops] (mutation)
        Cancela un mensaje de WhatsApp que esta programado para envio futuro
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        id:
          type: integer
          description: "ID del mensaje programado a cancelar"
        agent_id:
          type: integer
          description: "ID del agente que cancela el mensaje"
      required: ["action", "id"]

    CheckPluginConversationNoteArgs:
      description: |
        **check_plugin_conversation_note** [plugins] (query)
        Comprueba si ya existe una nota guardada para una sesion de chat del plugin y muestra los datos del cliente asociado.
      type: object
      properties:
        session_id:
          type: string
          description: "ID de la sesion de chat del plugin"
      required: ["session_id"]

    CheckWhatsappOptoutArgs:
      description: |
        **check_whatsapp_optout** [whatsapp_ops] (query)
        Comprueba si un numero de telefono esta en la lista de opt-out de automatizacion WhatsApp
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Numero de telefono a verificar (con prefijo internacional)"
      required: ["action", "phone"]

    ConfigureEcommerceLocalesArgs:
      description: |
        **configure_ecommerce_locales** [integrations] (mutation)
        Configura como se manejan los idiomas y URLs de tu plataforma e-commerce
      type: object
      properties:
        shopify_locale_mode:
          type: string
          description: "Modo de URLs: auto detecta por mercado, fixed usa un idioma fijo"
          enum: ["auto", "fixed"]
          default: "auto"
        shopify_fixed_locale:
          type: string
          description: "Idioma fijo para URLs (solo si locale_mode es fixed)"
        shopify_content_locale_mode:
          type: string
          description: "Modo de contenido: auto o fijo"
          enum: ["auto", "fixed"]
          default: "auto"
        shopify_content_fixed_locale:
          type: string
          description: "Idioma fijo para contenido"
        shopify_fallback_locale:
          type: string
          description: "Idioma por defecto cuando no se puede detectar"

    ConfigurePluginChatArgs:
      description: |
        **configure_plugin_chat** [plugins] (mutation)
        Configura el widget de chat web. Soporta actualizacion parcial: solo envia los campos que quieras cambiar. Los campos JSON (config_design, config_texts, config_behavior) se mergean automaticamente con los valores existentes, puedes enviar solo los sub-campos que quieras modificar.
      type: object
      properties:
        plugin_type:
          type: string
          default: "chat"
        is_enabled:
          type: boolean
          description: "true para activar el plugin, false para desactivar"
        allowed_domains:
          type: array
          description: "Lista de dominios donde funcionara el chat (ej: ["tutienda.com", "www.tutienda.com"]). Vacio [] para permitir todos."
        config_design:
          type: object
          description: "Configuracion visual del widget. Se mergea con valores existentes: puedes enviar solo lo que quieras cambiar."
        config_texts:
          type: object
          description: "Textos del widget. Se mergea con valores existentes: puedes enviar solo lo que quieras cambiar."
        config_behavior:
          type: object
          description: "Comportamiento del widget. Se mergea con valores existentes: puedes enviar solo lo que quieras cambiar."
        avatar_url:
          type: string
          description: "URL de la imagen avatar del asistente en el chat"
        language_mode:
          type: string
          description: "'auto' detecta el idioma del visitante, 'fixed' responde siempre en el idioma configurado"
          enum: ["auto", "fixed"]
        language_fixed:
          type: string
          description: "Idioma fijo (solo aplica si language_mode es 'fixed')"
          enum: ["es", "en", "de", "fr", "pt", "it", "hu"]
        language_available:
          type: array
          description: "Lista de idiomas disponibles (ej: ["es", "en", "de"])"
        language_show_selector:
          type: boolean
          description: "Mostrar selector de idioma en el widget"
        rate_limit_per_session:
          type: integer
          description: "Maximo de mensajes por sesion (default: 30)"
        rate_limit_window_minutes:
          type: integer
          description: "Ventana de tiempo en minutos para el rate limit (default: 60)"
        require_verification:
          type: boolean
          description: "Requiere verificacion del visitante antes de chatear"
        custom_css:
          type: string
          description: "CSS personalizado para inyectar en el widget"
        session_close_email_enabled:
          type: boolean
          description: "Activar envio de email al cerrar conversacion de chat web"
        session_close_email_to:
          type: string
          description: "Email destino para notificaciones de sesion cerrada (default: email de la tienda)"
        session_close_timeout_minutes:
          type: integer
          description: "Minutos de inactividad para considerar una conversacion cerrada (default: 10)"
        session_close_min_messages:
          type: integer
          description: "Minimo de mensajes para enviar notificacion (default: 2)"
      required: ["plugin_type"]

    ConfigurePluginProductqaArgs:
      description: |
        **configure_plugin_productqa** [plugins] (mutation)
        Activa y configura el widget de preguntas sobre productos
      type: object
      properties:
        plugin_type:
          type: string
          default: "product-qa"
        is_enabled:
          type: boolean
          description: "true para activar el plugin"
        allowed_domains:
          type: string
          description: "Dominios donde funcionara el widget"
        faq_enabled:
          type: boolean
          description: "Publicar FAQs automaticamente en tu tienda online"
        faq_max_per_product:
          type: integer
          description: "Maximo de FAQs por producto"
          default: 5
      required: ["plugin_type", "is_enabled"]

    ConfigureWebhooksArgs:
      description: |
        **configure_webhooks** [advanced] (mutation)
        Modifica la configuracion de webhooks. IMPORTANTE: Antes de llamar esta accion, llama SIEMPRE a get_webhook_config para ver la configuracion actual y confirmar con el usuario que datos quiere cambiar. Solo llama esta accion cuando tengas los datos concretos (URL, eventos, etc). Tras llamar esta accion, el sistema pedira confirmacion con botones - NO vuelvas a llamar a esta accion.
        ⚠️ Requires confirmation
      type: object
      properties:
        webhook_enabled:
          type: boolean
          description: "true para activar webhooks"
        webhook_url:
          type: string
          description: "URL del endpoint que recibira los webhooks"
        webhook_secret:
          type: string
          description: "Secret para verificar la firma HMAC-SHA256"
        webhook_events:
          type: array
          description: "Lista de eventos a enviar. Disponibles: phone.detected (nuevo telefono detectado), followup.detected (Seguimiento Inteligente detecta intencion de compra), followup.replied (cliente respondio al seguimiento), followup.converted (cliente compro tras el seguimiento), plugin_chat.session_closed (conversacion de chat web cerrada por inactividad)"
      required: ["webhook_enabled"]

    ConnectEcommerceArgs:
      description: |
        **connect_ecommerce** [integrations] (mutation)
        Conecta tu tienda online (Shopify, WooCommerce, PrestaShop o VTEX) para buscar productos, pedidos y clientes. Pregunta al usuario que plataforma usa.
        ⚠️ Requires confirmation
      type: object
      properties:
        platform_type:
          type: string
          description: "Plataforma e-commerce: shopify, woocommerce, prestashop o vtex"
          enum: ["shopify", "woocommerce", "prestashop", "vtex"]
        shopify_url:
          type: string
          description: "Shopify: URL de la tienda (ej: mitienda.myshopify.com)"
        shopify_token:
          type: string
          description: "Shopify: Token de acceso de la app personalizada"
        wc_store_url:
          type: string
          description: "Solo WooCommerce: URL de la tienda (ej: mitienda.com)"
        wc_consumer_key:
          type: string
          description: "Solo WooCommerce: Consumer Key de la API REST"
        wc_consumer_secret:
          type: string
          description: "Solo WooCommerce: Consumer Secret de la API REST"
        ps_store_url:
          type: string
          description: "Solo PrestaShop: URL de la tienda (ej: mitienda.com)"
        ps_api_key:
          type: string
          description: "Solo PrestaShop: API Key del Webservice"
        vtex_account_name:
          type: string
          description: "Solo VTEX: Nombre de la cuenta VTEX"
        vtex_app_key:
          type: string
          description: "Solo VTEX: App Key de la API"
        vtex_app_token:
          type: string
          description: "Solo VTEX: App Token de la API"
        vtex_store_url:
          type: string
          description: "Solo VTEX: URL de la tienda (opcional, se genera automaticamente si no se proporciona)"
      required: ["platform_type"]

    ConnectWhatsappArgs:
      description: |
        **connect_whatsapp** [whatsapp_ops] (mutation)
        Inicia el proceso de conexión de un nuevo número de WhatsApp. Devuelve un código QR para escanear con el teléfono.
      type: object
      properties:
        label:
          type: string
          description: "Etiqueta para identificar la sesión (máximo 50 caracteres)"
        force_new:
          type: boolean
          description: "Forzar creación de nueva sesión aunque haya sesiones desconectadas disponibles"

    CountFilteredContactsArgs:
      description: |
        **count_filtered_contacts** [mass_marketing] (query)
        Cuenta cuantos contactos de una lista cumplen con filtros de segmentacion (tags, actividad reciente, historial WhatsApp)
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: count_filtered"
        list_id:
          type: integer
          description: "ID de la lista de contactos"
        segment_filters:
          type: string
          description: "Filtros en formato JSON. Claves: tags (array), last_contact_days (entero), has_whatsapp_history (boolean)"
      required: ["action", "list_id", "segment_filters"]

    CreateAgentArgs:
      description: |
        **create_agent** [agents] (mutation)
        Crea un nuevo agente de atencion. Puede fallar si se ha alcanzado el limite de agentes del plan actual.
      type: object
      properties:
        action:
          type: string
        nickname:
          type: string
          description: "Nombre corto del agente (lo veran los clientes)"
        full_name:
          type: string
          description: "Nombre completo del agente"
        email:
          type: string
          description: "Email del agente"
        color:
          type: string
          description: "Color en formato hexadecimal"
          default: "#2563eb"
        phone:
          type: string
          description: "Telefono del agente"
        pin:
          type: string
          description: "PIN numerico para que el agente se identifique en la extension de Chrome"
        permissions_json:
          type: string
          description: "Permisos iniciales del agente en formato JSON. Si no se proporciona, el agente tendra todos los permisos por defecto"
        permissions:
          type: object
          description: "Permisos del agente (objeto JSON con permisos por seccion)"
      required: ["action", "nickname", "full_name", "email"]

    CreateCalendarAvailabilityArgs:
      description: |
        **create_calendar_availability** [calendar] (mutation)
        Crea una regla de disponibilidad en un calendario (semanal, excepcion por fecha, bloqueo)
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        calendar_id:
          type: integer
          description: "ID del calendario"
        rule_type:
          type: string
          description: "Tipo: weekly, date_exception, blocked"
        day_of_week:
          type: integer
          description: "Dia de la semana (0-6, para weekly)"
        specific_date:
          type: string
          description: "Fecha especifica YYYY-MM-DD (para date_exception)"
        start_time:
          type: string
          description: "Hora inicio HH:MM"
        end_time:
          type: string
          description: "Hora fin HH:MM"
        label:
          type: string
          description: "Etiqueta descriptiva"
        is_available:
          type: boolean
          description: "Si esta disponible (true) o bloqueado (false)"
      required: ["action", "calendar_id", "rule_type", "start_time", "end_time"]

    CreateCalendarEventArgs:
      description: |
        **create_calendar_event** [calendar] (mutation)
        Agenda un nuevo evento o cita en el calendario
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        title:
          type: string
          description: "Titulo del evento"
        start_datetime:
          type: string
          description: "Fecha y hora de inicio (YYYY-MM-DD HH:MM:SS)"
        end_datetime:
          type: string
          description: "Fecha y hora de fin"
        description:
          type: string
        phone:
          type: string
          description: "Telefono del cliente relacionado"
        assigned_agent_id:
          type: integer
          description: "Agente asignado al evento"
        all_day:
          type: integer
          enum: [0, 1]
          default: 0
        date_from:
          type: string
          description: "Fecha inicio para filtrar"
        date_to:
          type: string
          description: "Fecha fin para filtrar"
        agent_id:
          type: integer
          description: "ID del agente"
        event_id:
          type: integer
          description: "ID del evento"
      required: ["action", "title", "start_datetime"]

    CreateCalendarNotificationArgs:
      description: |
        **create_calendar_notification** [calendar] (mutation)
        Crea una notificacion automatica para un calendario (confirmacion, recordatorio, cancelacion, seguimiento, no-show)
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        calendar_id:
          type: integer
          description: "ID del calendario"
        notification_type:
          type: string
          description: "Tipo: confirmation, reminder, cancellation, follow_up, no_show"
        channel:
          type: string
          description: "Canal: whatsapp, email"
        timing_minutes:
          type: integer
          description: "Minutos antes/despues del evento"
        template_text:
          type: string
          description: "Texto de la notificacion"
        is_enabled:
          type: boolean
          description: "Si esta habilitada"
      required: ["action", "calendar_id", "notification_type", "channel", "timing_minutes", "template_text"]

    CreateCalendarServiceArgs:
      description: |
        **create_calendar_service** [calendar] (mutation)
        Crea un tipo de cita/servicio para un calendario (ej: consulta 30min, reunion 60min)
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        calendar_id:
          type: integer
          description: "ID del calendario"
        name:
          type: string
          description: "Nombre del servicio"
        duration_minutes:
          type: integer
          description: "Duracion en minutos"
        description:
          type: string
          description: "Descripcion del servicio"
        buffer_before_minutes:
          type: integer
          description: "Minutos de buffer antes"
        buffer_after_minutes:
          type: integer
          description: "Minutos de buffer despues"
        max_concurrent:
          type: integer
          description: "Maximo de citas concurrentes"
        price:
          type: string
          description: "Precio del servicio"
        currency:
          type: string
          description: "Moneda (EUR, USD, etc.)"
        requires_confirmation:
          type: boolean
          description: "Si requiere confirmacion del negocio"
      required: ["action", "calendar_id", "name", "duration_minutes"]

    CreateCampaignArgs:
      description: |
        **create_campaign** [mass_marketing] (mutation)
        Crea una nueva campana de marketing masivo. Puede crearse como borrador o programarse para una fecha futura. Soporta variables de plantilla {nombre}, {telefono}, {tienda} en el mensaje.
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: create"
        name:
          type: string
          description: "Nombre de la campana"
        message_text:
          type: string
          description: "Texto del mensaje. Soporta variables: {nombre} (nombre del contacto), {telefono} (telefono del contacto), {tienda} (nombre de la tienda)"
        list_id:
          type: integer
          description: "ID de la lista de contactos a usar para esta campana"
        send_interval_seconds:
          type: integer
          description: "Segundos entre cada envio (minimo 10, por defecto 30)"
          default: 30
        translate_by_prefix:
          type: boolean
          description: "Si true, traduce el mensaje al idioma del destinatario segun prefijo telefonico"
          default: false
        include_unsubscribe_link:
          type: boolean
          description: "Si true, anade un enlace de baja al final del mensaje"
          default: true
        archive_after_send:
          type: boolean
          description: "Si true, archiva automaticamente cada chat de WhatsApp tras enviar el mensaje"
          default: false
        session_ids:
          type: array
          description: "Array de IDs de sesion de WhatsApp a usar para enviar. Si no se especifica, usa todas las sesiones habilitadas para marketing masivo. Usa get_whatsapp_status para ver los IDs."
        scheduled_at:
          type: string
          description: "Fecha y hora para programar el envio (formato: YYYY-MM-DD HH:MM:SS). Debe ser una fecha futura. Si se especifica, la campana se crea con estado 'scheduled' en vez de 'draft'."
        segment_filters:
          type: object
          description: "Filtros de segmentacion para enviar solo a contactos que cumplan criterios. Objeto con claves opcionales: tags (array de nombres de tags), last_contact_days (entero, enviar solo a contactos con actividad en los ultimos N dias), has_whatsapp_history (boolean, enviar solo a contactos con historial de WhatsApp)"
        media_url:
          type: string
          description: "URL del archivo multimedia a enviar con el mensaje (imagen, video, documento). Debe ser una URL publica accesible."
        media_type:
          type: string
          description: "Tipo de multimedia: 'image', 'video' o 'document'. Requerido si se especifica media_url."
        media_filename:
          type: string
          description: "Nombre del archivo multimedia. Requerido para tipo 'document'."
        is_recurring:
          type: boolean
          description: "Si true, la campana se ejecuta de forma recurrente segun recurring_cron"
        recurring_cron:
          type: string
          description: "Expresion cron para campanas recurrentes (ej: '0 10 * * 1' para cada lunes a las 10:00). Requerido si is_recurring es true."
      required: ["action", "name", "message_text", "list_id"]

    CreateContactListArgs:
      description: |
        **create_contact_list** [mass_marketing] (mutation)
        Crea una nueva lista de contactos para campanas de marketing masivo
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: create"
        name:
          type: string
          description: "Nombre de la lista de contactos"
        description:
          type: string
          description: "Descripcion opcional de la lista"
      required: ["action", "name"]

    CreateDocqaAssistantArgs:
      description: |
        **create_docqa_assistant** [plugins] (mutation)
        Crea un nuevo asistente de documentacion. Despues de crearlo, podras subir archivos (PDF, Word, etc.) desde el dashboard.
      type: object
      properties:
        display_name:
          type: string
          description: "Nombre del asistente (ej: 'Manual de Usuario', 'FAQ Producto X')"
        prompt:
          type: string
          description: "Instrucciones adicionales para la IA (opcional)"
        is_enabled:
          type: boolean
          description: "true para activar inmediatamente"
          default: true
        language_mode:
          type: string
          description: "Modo de idioma: auto (detecta automaticamente), fixed (siempre responde en un idioma fijo), selector (el usuario elige el idioma)"
          enum: ["auto", "fixed", "selector"]
          default: "auto"
        language_fixed:
          type: string
          description: "REQUERIDO si language_mode=fixed. Codigo del idioma fijo (es=Espanol, en=Ingles, de=Aleman, fr=Frances, pt=Portugues, it=Italiano, hu=Hungaro). Si el usuario dice 'idioma fijo en espanol', usar language_mode='fixed' Y language_fixed='es'."
          enum: ["es", "en", "de", "fr", "pt", "it", "hu"]
        rate_limit_per_session:
          type: integer
          description: "Limite de preguntas por sesion"
          default: 50
        allowed_domains:
          type: array
          description: "Dominios donde funcionara el widget (vacio = todos)"
        language_available:
          type: array
          description: "Idiomas disponibles (array)"
        language_show_selector:
          type: boolean
          description: "Mostrar selector de idioma"
        rate_limit_window_minutes:
          type: integer
          description: "Ventana de rate limit en minutos"
        config_design:
          type: object
          description: "Configuracion de diseno (JSON)"
        config_texts:
          type: object
          description: "Textos personalizados (JSON)"
      required: ["display_name"]

    CreateEmailAccountArgs:
      description: |
        **create_email_account** [email] (mutation)
        Crea una nueva cuenta de correo electronico con configuracion IMAP/SMTP. Maximo 10 cuentas por tienda.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        label:
          type: string
          description: "Nombre descriptivo de la cuenta (ej: 'Soporte', 'Ventas')"
        email_address:
          type: string
          description: "Direccion de email"
        auth_type:
          type: string
          description: "Tipo de autenticacion: 'basic' (IMAP/SMTP) o 'oauth2'. Default: 'basic'"
        imap_host:
          type: string
          description: "Servidor IMAP (ej: imap.gmail.com). Requerido para auth_type=basic"
        imap_port:
          type: integer
          description: "Puerto IMAP. Default: 993"
        imap_user:
          type: string
          description: "Usuario IMAP (normalmente el email)"
        imap_password:
          type: string
          description: "Contrasena IMAP (se cifra automaticamente)"
        smtp_host:
          type: string
          description: "Servidor SMTP (ej: smtp.gmail.com). Requerido para auth_type=basic"
        smtp_port:
          type: integer
          description: "Puerto SMTP. Default: 587"
        smtp_user:
          type: string
          description: "Usuario SMTP (normalmente el email)"
        smtp_password:
          type: string
          description: "Contrasena SMTP (se cifra automaticamente)"
        smtp_from_name:
          type: string
          description: "Nombre del remitente en los emails enviados"
        agent_hashes:
          type: array
          description: "Lista de phone_hash de agentes asignados a esta cuenta"
        signature_html:
          type: string
          description: "Firma HTML para los emails enviados desde esta cuenta"
      required: ["action", "label", "email_address"]

    CreateEmailRuleArgs:
      description: |
        **create_email_rule** [email] (mutation)
        Crea una nueva regla automatica para procesar emails entrantes. Puede filtrar por remitente, asunto, etc. y ejecutar acciones como archivar, etiquetar o asignar agente.
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'create'"
        name:
          type: string
          description: "Nombre descriptivo de la regla"
        priority:
          type: integer
          description: "Prioridad (0-99, mayor = se evalua primero). Default 0"
        conditions:
          type: array
          description: "Array de condiciones. Cada condicion: {field: 'from'|'subject'|'body', operator: 'contains'|'equals'|'starts_with'|'ends_with', value: 'texto'}"
        actions:
          type: array
          description: "Array de acciones. Cada accion: {type: 'archive'|'delete'|'spam'|'set_tags'|'assign', value?: 'etiqueta o agent_hash'}"
      required: ["action", "name", "conditions", "actions"]

    CreateKnowledgeFileArgs:
      description: |
        **create_knowledge_file** [storage] (mutation)
        Crea un nuevo archivo en la base de conocimiento a partir de contenido de texto. Ideal para anadir informacion como promociones, politicas, instrucciones, FAQs, etc. sin necesidad de subir un archivo manualmente.
      type: object
      properties:
        title:
          type: string
          description: "Titulo descriptivo del archivo (max 255 caracteres)"
        content:
          type: string
          description: "Contenido de texto del archivo"
        description:
          type: string
          description: "Descripcion breve del contenido (para que la IA sepa cuando usar este archivo)"
        filename:
          type: string
          description: "Nombre del archivo con extension (ej: 'promociones.txt'). Si no se proporciona, se genera automaticamente desde el titulo. Extensiones validas: txt, md, csv, json, html"
      required: ["title", "content"]

    CreateListFromFollowupArgs:
      description: |
        **create_list_from_followup** [mass_marketing] (mutation)
        Crea una lista de contactos desde conversaciones detectadas por Smart Follow-up
      type: object
      properties:
        action:
          type: string
        name:
          type: string
          description: "Nombre de la nueva lista"
        period:
          type: string
          description: "Periodo de búsqueda"
          enum: ["last_7_days", "last_30_days", "last_60_days", "last_90_days"]
      required: ["action"]

    CreateListFromInactiveArgs:
      description: |
        **create_list_from_inactive** [mass_marketing] (mutation)
        Crea una nueva lista de contactos a partir de clientes que no han tenido conversación en un periodo determinado
      type: object
      properties:
        action:
          type: string
        days:
          type: integer
          description: "Días de inactividad mínima (default: 30)"
        name:
          type: string
          description: "Nombre de la nueva lista"
      required: ["action"]

    CreateScheduledMessageArgs:
      description: |
        **create_scheduled_message** [whatsapp_ops] (mutation)
        Programa un mensaje de WhatsApp para envio futuro. PREREQUISITO OBLIGATORIO: ANTES de llamar esta accion, DEBES llamar a get_whatsapp_status para obtener el session_id de una sesion conectada. Sin session_id la accion SIEMPRE falla. FLUJO DE CONFIRMACION: Esta accion devolvera requires_confirmation=true con success=false - esto NO es un error, es el flujo normal. Cuando recibas esto, describe brevemente al usuario lo que se programara y PARA. NO llames de nuevo a esta accion. El sistema mostrara botones automaticamente.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        session_id:
          type: integer
          description: "ID numerico de la sesion de WhatsApp. OBLIGATORIO. Obtener llamando a get_whatsapp_status primero y usar el campo 'id' de una sesion con status 'connected'. Si hay varias sesiones, preguntar al usuario cual usar"
        phone:
          type: string
          description: "Numero de telefono destino con prefijo internacional formato E.164 (ej: +34612345678). Si el usuario da un numero sin prefijo, preguntarle el pais"
        message_text:
          type: string
          description: "Texto del mensaje a enviar"
        scheduled_at:
          type: string
          description: "Fecha y hora de envio en formato YYYY-MM-DD HH:MM:SS. Debe ser una fecha futura. Si el usuario dice una fecha relativa como 'manana a las 10', convertirla al formato correcto"
        agent_id:
          type: integer
          description: "ID del agente que programa el mensaje"
      required: ["action", "session_id", "phone", "message_text", "scheduled_at"]

    CreateTaskArgs:
      description: |
        **create_task** [tasks] (mutation)
        Crea una nueva tarea asociada opcionalmente a un cliente y agente
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        task_text:
          type: string
          description: "Descripcion de la tarea"
        phone:
          type: string
          description: "Telefono del cliente relacionado"
        due_date:
          type: string
          description: "Fecha limite (YYYY-MM-DD)"
        priority:
          type: string
          enum: ["low", "medium", "high"]
          default: "medium"
        assigned_agent_id:
          type: integer
          description: "ID del agente al que asignar la tarea"
        status:
          type: string
          description: "Estado de la tarea"
        agent_id:
          type: integer
          description: "ID del agente"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        task_id:
          type: integer
          description: "ID de la tarea"
        include_completed:
          type: boolean
          description: "Incluir tareas completadas"
      required: ["action", "task_text"]

    CreateWhatsappTemplateFromWorkflowArgs:
      description: |
        **create_whatsapp_template_from_workflow** [whatsapp_ops] (mutation)
        Crea un nuevo workflow de WhatsApp a partir de una plantilla existente
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        template_id:
          type: integer
          description: "ID de la plantilla desde la que crear el workflow"
        session_id:
          type: integer
          description: "ID de la sesion WhatsApp para asociar al workflow"
        name:
          type: string
          description: "Nombre para el nuevo workflow"
      required: ["action", "template_id"]

    CreateWhatsappWorkflowArgs:
      description: |
        **create_whatsapp_workflow** [automation] (mutation)
        Crea un nuevo workflow de automatizacion para respuestas de WhatsApp. Campos requeridos: name y actions. Si el usuario no especifica nombre, genera uno descriptivo automaticamente (ej: 'Respuesta IA fuera horario'). Si el usuario pide crearlo desactivado o para revision, usa status='disabled'. Por defecto se crea activo. LIMITE: maximo 10 workflows por tienda. Si recibes error de limite alcanzado, NO reintentes crear — en su lugar: 1) Llama a list_whatsapp_workflows para mostrar los existentes, 2) Sugiere al usuario eliminar workflows que ya no necesite o reutilizar uno existente con update_whatsapp_workflow.
      type: object
      properties:
        name:
          type: string
          description: "Nombre descriptivo del workflow (max 100 caracteres). Si el usuario no especifica, genera un nombre descriptivo automaticamente basado en las acciones/condiciones."
        trigger_type:
          type: string
          description: "Evento que activa el workflow: 'message.received' (al recibir un mensaje, por defecto) o 'message.sent' (al enviar un mensaje)"
          enum: ["message.received", "message.sent"]
          default: "message.received"
        conditions:
          type: object
          description: "Condiciones para ejecutar el workflow. Formato: {logic: 'AND'|'OR', rules: [...]}. Si no se especifica, se ejecuta siempre."
        actions:
          type: array
          description: "Acciones a ejecutar. Tipos: {type:'reply_with_ai'} o {type:'reply', message:'texto'} o {type:'delay', seconds:N} o {type:'ai_filter'} o {type:'ai_filter', prompt:'instrucciones adicionales'}. Para reply_with_ai se puede añadir pre_send_check:{enabled:true} para cancelar el envio si llega un mensaje nuevo durante la generacion IA. Para reply se puede añadir no_repeat:true y no_repeat_hours:N (1, 6, 24, 168 o 0=siempre) para no repetir al mismo contacto. ai_filter analiza si el mensaje necesita respuesta y detiene el workflow si no (previene bucles con mensajes tipo 'gracias' o 'vale', ideal como primera accion antes de reply_with_ai). Opcion prompt:'instrucciones adicionales' para personalizar criterios. Minimo una accion."
        status:
          type: string
          description: "Estado inicial del workflow. Usar 'disabled' si el usuario quiere crearlo desactivado para revision. Por defecto: 'active'."
          enum: ["active", "disabled"]
          default: "active"
        session_id:
          type: integer
          description: "ID de la sesion de WhatsApp a la que asignar este workflow. Si no se especifica (null), el workflow se ejecuta para todos los numeros conectados."
        id:
          type: integer
          description: "ID del workflow (si se especifica, actualiza en lugar de crear)"
      required: ["name", "actions"]

    DeleteAgentArgs:
      description: |
        **delete_agent** [agents] (mutation)
        Elimina un agente de atencion
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
        id:
          type: integer
          description: "ID del agente a eliminar"
      required: ["action", "id"]

    DeleteAiErrorArgs:
      description: |
        **delete_ai_error** [knowledge] (mutation)
        Remove an AI correction that is no longer valid.
      type: object
      properties:
        id:
          type: integer
          description: "ID of the correction to delete"
      required: ["id"]

    DeleteCalendarArgs:
      description: |
        **delete_calendar** [calendar] (mutation)
        Elimina un calendario y todos sus eventos, servicios y disponibilidad
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        calendar_id:
          type: integer
          description: "ID del calendario a eliminar"
      required: ["action", "calendar_id"]

    DeleteCalendarAvailabilityArgs:
      description: |
        **delete_calendar_availability** [calendar] (mutation)
        Elimina una regla de disponibilidad del calendario
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        rule_id:
          type: integer
          description: "ID de la regla a eliminar"
      required: ["action", "rule_id"]

    DeleteCalendarConnectionArgs:
      description: |
        **delete_calendar_connection** [calendar] (mutation)
        Elimina una conexion de proveedor de calendario (Google/Microsoft)
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        connection_id:
          type: integer
          description: "ID de la conexion a eliminar"
      required: ["action", "connection_id"]

    DeleteCalendarEventArgs:
      description: |
        **delete_calendar_event** [calendar] (mutation)
        Elimina un evento del calendario
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        event_id:
          type: integer
          description: "ID del evento a eliminar"
        date_from:
          type: string
          description: "Fecha inicio para filtrar"
        date_to:
          type: string
          description: "Fecha fin para filtrar"
        agent_id:
          type: integer
          description: "ID del agente"
        phone:
          type: string
          description: "Telefono del cliente"
        title:
          type: string
          description: "Titulo del evento"
        description:
          type: string
          description: "Descripcion del evento"
        start_datetime:
          type: string
          description: "Fecha/hora inicio YYYY-MM-DD HH:MM:SS"
        end_datetime:
          type: string
          description: "Fecha/hora fin YYYY-MM-DD HH:MM:SS"
        all_day:
          type: boolean
          description: "Evento de dia completo"
        assigned_agent_id:
          type: integer
          description: "ID del agente asignado"
      required: ["action", "event_id"]

    DeleteCalendarNotificationArgs:
      description: |
        **delete_calendar_notification** [calendar] (mutation)
        Elimina una notificacion automatica de calendario
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        notification_id:
          type: integer
          description: "ID de la notificacion a eliminar"
      required: ["action", "notification_id"]

    DeleteCalendarServiceArgs:
      description: |
        **delete_calendar_service** [calendar] (mutation)
        Elimina un servicio/tipo de cita del calendario
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        service_id:
          type: integer
          description: "ID del servicio a eliminar"
      required: ["action", "service_id"]

    DeleteCampaignArgs:
      description: |
        **delete_campaign** [mass_marketing] (mutation)
        Elimina permanentemente una campaña de marketing masivo
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
        campaign_id:
          type: integer
          description: "ID de la campaña a eliminar"
      required: ["action", "campaign_id"]

    DeleteContactListArgs:
      description: |
        **delete_contact_list** [mass_marketing] (mutation)
        Elimina una lista de contactos y todos sus contactos asociados. Esta accion no se puede deshacer.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija: delete"
        list_id:
          type: integer
          description: "ID de la lista a eliminar"
      required: ["action", "list_id"]

    DeleteConversationFileArgs:
      description: |
        **delete_conversation_file** [storage] (mutation)
        Elimina un archivo compartido en una conversacion
        ⚠️ Requires confirmation
      type: object
      properties:
        file_uuid:
          type: string
          description: "UUID del archivo a eliminar"
        agent_id:
          type: integer
          description: "ID del agente que realiza la accion"
      required: ["file_uuid"]

    DeleteConversationMessageArgs:
      description: |
        **delete_conversation_message** [conversations] (mutation)
        Elimina un mensaje especifico de una conversacion. Requiere el texto exacto del mensaje.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Telefono del cliente"
        message:
          type: string
          description: "Texto exacto del mensaje a eliminar (string completo tal como aparece en el historial)"
        query:
          type: string
          description: "Texto de busqueda"
        date_from:
          type: string
          description: "Fecha inicio YYYY-MM-DD"
        date_to:
          type: string
          description: "Fecha fin YYYY-MM-DD"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        hours:
          type: integer
          description: "Ultimas N horas"
        conversation_id:
          type: integer
          description: "ID de conversacion especifica"
        last_n:
          type: integer
          description: "Ultimos N mensajes"
        period:
          type: string
          description: "Periodo de tiempo"
          enum: ["today", "yesterday", "last_7_days"]
        agent_id:
          type: integer
          description: "ID del agente"
        format:
          type: string
          description: "Formato de respuesta"
      required: ["action", "phone", "message"]

    DeleteCustomerAiErrorArgs:
      description: |
        **delete_customer_ai_error** [knowledge] (mutation)
        Remove a correction from the customer-facing WhatsApp AI that is no longer valid.
      type: object
      properties:
        id:
          type: integer
          description: "ID of the correction to delete"
      required: ["id"]

    DeleteDocqaAssistantArgs:
      description: |
        **delete_docqa_assistant** [plugins] (mutation)
        Elimina un asistente Doc-QA y todos sus recursos asociados en OpenAI
        ⚠️ Requires confirmation
      type: object
      properties:
        assistant_id:
          type: integer
          description: "ID del asistente Doc-QA a eliminar"
      required: ["assistant_id"]

    DeleteDocqaFileArgs:
      description: |
        **delete_docqa_file** [plugins] (mutation)
        Elimina un archivo de un asistente Doc-QA
        ⚠️ Requires confirmation
      type: object
      properties:
        file_id:
          type: integer
          description: "ID del archivo a eliminar"
      required: ["file_id"]

    DeleteEmailAccountArgs:
      description: |
        **delete_email_account** [email] (mutation)
        Elimina una cuenta de correo y todos sus emails asociados. Esta accion no se puede deshacer.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        id:
          type: integer
          description: "ID de la cuenta a eliminar"
      required: ["action", "id"]

    DeleteEmailNoteArgs:
      description: |
        **delete_email_note** [email] (mutation)
        Elimina una nota interna de un hilo de email.
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'delete'"
        thread_id:
          type: integer
          description: "ID del hilo"
        note_id:
          type: integer
          description: "ID de la nota a eliminar"
      required: ["action", "thread_id", "note_id"]

    DeleteEmailRuleArgs:
      description: |
        **delete_email_rule** [email] (mutation)
        Elimina una regla de email. Esta accion no se puede deshacer.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'delete'"
        id:
          type: integer
          description: "ID de la regla a eliminar"
      required: ["action", "id"]

    DeleteFaqArgs:
      description: |
        **delete_faq** [plugins] (mutation)
        Elimina permanentemente una o varias FAQs del plugin Product Q&A
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        faq_ids:
          type: array
          description: "IDs de las FAQs a eliminar"
      required: ["action", "faq_ids"]

    DeleteKnowledgeFileArgs:
      description: |
        **delete_knowledge_file** [storage] (mutation)
        Elimina un archivo de la base de conocimiento (no permite eliminar archivos de sistema)
        ⚠️ Requires confirmation
      type: object
      properties:
        file_id:
          type: integer
          description: "ID del archivo a eliminar"
      required: ["file_id"]

    DeleteKnowledgeSnippetArgs:
      description: |
        **delete_knowledge_snippet** [knowledge] (mutation)
        Elimina permanentemente un snippet de conocimiento
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        id:
          type: integer
          description: "ID del snippet a eliminar"
      required: ["action", "id"]

    DeleteNotificationArgs:
      description: |
        **delete_notification** [notifications] (mutation)
        Elimina permanentemente una notificacion
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        notification_id:
          type: integer
          description: "ID de la notificacion a eliminar"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio"
        filter:
          type: string
          description: "Filtro de notificaciones"
        type:
          type: string
          description: "Tipo de notificacion"
        agent_id:
          type: integer
          description: "ID del agente"
      required: ["action", "notification_id"]

    DeleteTaskArgs:
      description: |
        **delete_task** [tasks] (mutation)
        Elimina una tarea permanentemente
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        task_id:
          type: integer
          description: "ID de la tarea a eliminar"
        status:
          type: string
          description: "Estado de la tarea"
        agent_id:
          type: integer
          description: "ID del agente"
        phone:
          type: string
          description: "Telefono del cliente"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        task_text:
          type: string
          description: "Texto de la tarea"
        due_date:
          type: string
          description: "Fecha limite YYYY-MM-DD"
        priority:
          type: string
          description: "Prioridad de la tarea"
          enum: ["low", "medium", "high"]
        assigned_agent_id:
          type: integer
          description: "ID del agente asignado"
        include_completed:
          type: boolean
          description: "Incluir tareas completadas"
      required: ["action", "task_id"]

    DeleteWhatsappSessionArgs:
      description: |
        **delete_whatsapp_session** [whatsapp_ops] (mutation)
        Elimina una sesion de WhatsApp desconectada. Solo funciona con sesiones en estado 'disconnected'.
        ⚠️ Requires confirmation
      type: object
      properties:
        session_id:
          type: integer
          description: "ID de la sesion a eliminar"
        migrate_to:
          type: integer
          description: "ID de otra sesión a la que reasignar workflows, campañas y seguimiento inteligente. Si no se proporciona, se usa 'todas las líneas'."
      required: ["session_id"]

    DeleteWhatsappTemplateArgs:
      description: |
        **delete_whatsapp_template** [whatsapp_ops] (mutation)
        Elimina una plantilla de mensaje de WhatsApp. FLUJO DE CONFIRMACION: Esta accion devolvera requires_confirmation=true con success=false - esto NO es un error, es el flujo normal. Cuando recibas esto, describe brevemente al usuario que la plantilla se eliminara y PARA. NO llames de nuevo a esta accion. El sistema mostrara botones de Confirmar/Cancelar automaticamente.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        id:
          type: integer
          description: "ID de la plantilla a eliminar"
      required: ["action", "id"]

    DeleteWhatsappWorkflowArgs:
      description: |
        **delete_whatsapp_workflow** [automation] (mutation)
        SOLO para BORRAR/ELIMINAR un workflow de WhatsApp de forma permanente. NO usar para editar, modificar, añadir palabras, simular, probar, unir, combinar ni reorganizar workflows. Si el usuario quiere cambiar algo, usar update_whatsapp_workflow. Si dice 'unir' o 'combinar' workflows, NO borrar ninguno — usar update_whatsapp_workflow para fusionar condiciones/acciones en uno existente. Antes de eliminar, SIEMPRE llama a list_whatsapp_workflows para confirmar con el usuario EXACTAMENTE cual workflow quiere borrar por nombre e ID. FLUJO DE CONFIRMACION OBLIGATORIO: Esta accion devolvera success=false con requires_confirmation=true — esto NO es un error, es el paso 1 del flujo normal de confirmacion. Cuando recibas esta respuesta: 1) Describe brevemente al usuario que workflow se eliminara, 2) PARA completamente, 3) NUNCA vuelvas a llamar a esta misma accion — hacerlo INVALIDA el token de confirmacion y rompe el flujo. Los botones de Confirmar/Cancelar aparecen automaticamente en la interfaz del usuario.
        ⚠️ Requires confirmation
      type: object
      properties:
        id:
          type: integer
          description: "ID del workflow a eliminar"
      required: ["id"]

    DisconnectEcommerceArgs:
      description: |
        **disconnect_ecommerce** [integrations] (mutation)
        Desconecta la integracion con tu plataforma e-commerce (Shopify, WooCommerce, etc.)
        ⚠️ Requires confirmation
      type: object
      properties:
        platform_type:
          type: string
          description: "Plataforma a desconectar. Usa disconnect_ seguido del nombre de la plataforma activa"
          enum: ["disconnect_shopify", "disconnect_woocommerce", "disconnect_prestashop", "disconnect_vtex"]
      required: ["platform_type"]

    DisconnectWhatsappArgs:
      description: |
        **disconnect_whatsapp** [automation] (mutation)
        Desconecta una sesion de WhatsApp y elimina los datos de autenticacion. Si hay multiples numeros, requiere session_id.
        ⚠️ Requires confirmation
      type: object
      properties:
        session_id:
          type: integer
          description: "ID de la sesion a desconectar. Obligatorio si hay mas de un numero conectado. Usa get_whatsapp_status para obtener los IDs."

    DiscoverEmailFoldersArgs:
      description: |
        **discover_email_folders** [email] (query)
        Conecta al servidor IMAP de una cuenta de email y descubre las carpetas disponibles (Enviados, Papelera, Archivo, Spam). Detecta automaticamente las carpetas estandar.
      type: object
      properties:
        action:
          type: string
          description: "Debe ser 'discover_folders'"
        id:
          type: integer
          description: "ID de la cuenta de correo"
      required: ["action", "id"]

    DismissTrainingSuggestionArgs:
      description: |
        **dismiss_training_suggestion** [knowledge] (mutation)
        Descarta una sugerencia de entrenamiento de IA con motivo opcional.
      type: object
      properties:
        action:
          type: string
        suggestion_id:
          type: integer
          description: "ID de la sugerencia a descartar"
        reason:
          type: string
          description: "Motivo del descarte (opcional)"
      required: ["action", "suggestion_id"]

    DownloadConversationFileArgs:
      description: |
        **download_conversation_file** [storage] (query)
        Obtiene la URL de descarga de un archivo compartido en una conversacion
      type: object
      properties:
        file_uuid:
          type: string
          description: "UUID del archivo a descargar"
      required: ["file_uuid"]

    DownloadEmailAttachmentArgs:
      description: |
        **download_email_attachment** [email] (query)
        Obtiene la URL de descarga de un adjunto de email
      type: object
      properties:
        attachment_id:
          type: integer
          description: "ID del adjunto"
        json:
          type: boolean
          description: "Devolver URL como JSON en vez de redirigir"
      required: ["attachment_id"]

    DownloadKnowledgeFileArgs:
      description: |
        **download_knowledge_file** [knowledge] (query)
        Obtiene la URL de descarga de un archivo de la base de conocimiento
      type: object
      properties:
        id:
          type: integer
          description: "ID del archivo de conocimiento"
      required: ["id"]

    DryRunWorkflowArgs:
      description: |
        **dry_run_workflow** [automation] (query)
        Simula la ejecucion de un workflow con un mensaje de prueba sin enviar nada real. Usar cuando el usuario diga 'pruebalo', 'simulalo', 'testea', 'probemos', 'a ver si funciona' o cualquier variacion de probar/simular. Esta accion es SEGURA — no envia mensajes ni modifica nada. Para probar con multiples ejemplos, llamar esta accion varias veces con diferentes test_message. PREFERIR esta accion sobre save/update cuando el usuario quiere validar antes de activar.
      type: object
      properties:
        action:
          type: string
        workflow_id:
          type: integer
          description: "ID del workflow a probar"
        test_message:
          type: string
          description: "Texto de mensaje simulado. Para simular multiples escenarios, hacer varias llamadas con diferentes mensajes"
        test_phone:
          type: string
          description: "Telefono simulado del remitente (con prefijo +). Usar diferentes prefijos para probar condiciones de pais"
      required: ["action", "workflow_id", "test_message"]

    DuplicateCampaignArgs:
      description: |
        **duplicate_campaign** [mass_marketing] (mutation)
        Crea una copia de una campaña existente en estado borrador
      type: object
      properties:
        action:
          type: string
        campaign_id:
          type: integer
          description: "ID de la campaña a duplicar"
      required: ["action", "campaign_id"]

    EditKnowledgeSnippetArgs:
      description: |
        **edit_knowledge_snippet** [knowledge] (mutation)
        Edita el contenido o categoria de un snippet de conocimiento
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        id:
          type: integer
          description: "ID del snippet"
        content:
          type: string
          description: "Nuevo contenido del snippet"
        category:
          type: string
          description: "Nueva categoria"
      required: ["action", "id"]

    EmailThreadActionArgs:
      description: |
        **email_thread_action** [email] (mutation)
        Ejecuta una accion sobre un hilo de email: archivar, eliminar, spam, restaurar, marcar como no leido, posponer (snooze), quitar snooze, fusionar hilos, asignar etiquetas o asignar agente
      type: object
      properties:
        action:
          type: string
          description: "Accion a ejecutar: archive, delete, spam, restore, mark_unread, snooze, unsnooze, merge, set_tags, assign"
        thread_id:
          type: integer
          description: "ID del hilo de email"
        until:
          type: string
          description: "Fecha/hora hasta la que posponer (solo para action=snooze). Formato ISO 8601 o natural (ej: '2026-03-22 09:00:00', 'tomorrow 9am')"
        target_thread_id:
          type: integer
          description: "ID del hilo destino para fusionar (solo para action=merge)"
        tags:
          type: array
          description: "Array de etiquetas (solo para action=set_tags)"
        agent_hash:
          type: string
          description: "Hash del agente a asignar (solo para action=assign, null para desasignar)"
        status:
          type: string
          description: "Nuevo estado: archive, trash, unarchive, star, unstar, mark_read, mark_unread, restore"
      required: ["action", "thread_id"]

    ExportCampaignCsvArgs:
      description: |
        **export_campaign_csv** [mass_marketing] (query)
        Descarga los logs de envio de una campana completada como archivo CSV. Solo funciona con campanas completadas, canceladas, pausadas o archivadas.
      type: object
      properties:
        campaign_id:
          type: integer
          description: "ID de la campana cuyos resultados se quieren exportar"
      required: ["campaign_id"]

    ExportConversationsArgs:
      description: |
        **export_conversations** [conversations] (query)
        Exporta conversaciones con todos los mensajes en formato estructurado
      type: object
      properties:
        action:
          type: string
        phone:
          type: string
          description: "Filtrar por telefono"
        date_from:
          type: string
          description: "Fecha inicio YYYY-MM-DD"
        date_to:
          type: string
          description: "Fecha fin YYYY-MM-DD"
        format:
          type: string
          description: "Formato: json (completo) o csv_summary (sin mensajes)"
          enum: ["json", "csv_summary"]
        limit:
          type: integer
          description: "Maximo conversaciones (default 50, max 200)"
        query:
          type: string
          description: "Texto de busqueda"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        hours:
          type: integer
          description: "Ultimas N horas"
        conversation_id:
          type: integer
          description: "ID de conversacion especifica"
        last_n:
          type: integer
          description: "Ultimos N mensajes"
        period:
          type: string
          description: "Periodo de tiempo"
          enum: ["today", "yesterday", "last_7_days"]
        agent_id:
          type: integer
          description: "ID del agente"
        message:
          type: string
          description: "Texto del mensaje a enviar o eliminar"
      required: ["action"]

    ForceEmailSyncArgs:
      description: |
        **force_email_sync** [email] (mutation)
        Fuerza una sincronizacion inmediata de todas las cuentas de email via IMAP
      type: object

    GdprDeleteCustomerDataArgs:
      description: |
        **gdpr_delete_customer_data** [customers] (mutation)
        Elimina todos los datos personales de un cliente para cumplimiento GDPR (Art. 17 - Derecho al olvido). Los registros CRM se anonimizan en vez de eliminarse.
        ⚠️ Requires confirmation
      type: object
      properties:
        action:
          type: string
        phone:
          type: string
          description: "Telefono del cliente cuyos datos se eliminaran"
      required: ["action", "phone"]

    GdprExportCustomerDataArgs:
      description: |
        **gdpr_export_customer_data** [customers] (query)
        Exporta todos los datos almacenados de un cliente para cumplimiento GDPR (Art. 15 - Derecho de acceso)
      type: object
      properties:
        action:
          type: string
        phone:
          type: string
          description: "Telefono del cliente"
      required: ["action", "phone"]

    GenerateEmailDraftArgs:
      description: |
        **generate_email_draft** [email] (mutation)
        Genera un borrador de respuesta usando IA para un hilo de email
      type: object
      properties:
        thread_id:
          type: integer
          description: "ID del hilo"
        action:
          type: string
          description: "Debe ser 'generate'"
        instructions:
          type: string
          description: "Instrucciones opcionales para la IA"
      required: ["thread_id", "action"]

    GenerateReferralCodeArgs:
      description: |
        **generate_referral_code** [referrals] (mutation)
        Genera el enlace único de referido del usuario para compartir. Si ya tiene uno, lo devuelve.
      type: object

    GetAgentActivityArgs:
      description: |
        **get_agent_activity** [agents] (query)
        Muestra la actividad y carga de trabajo de un agente especifico
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        agent_id:
          type: integer
          description: "ID del agente"
        period:
          type: string
          description: "Periodo de tiempo"
          enum: ["today", "yesterday", "last_7_days", "last_30_days"]
        days:
          type: integer
          description: "Numero de dias a consultar"
      required: ["action", "agent_id"]

    GetAgentPerformanceArgs:
      description: |
        **get_agent_performance** [agents] (query)
        Metricas detalladas de rendimiento de un agente: clientes asignados, tareas, tasa de completado
      type: object
      properties:
        action:
          type: string
        agent_id:
          type: integer
          description: "ID del agente"
        days:
          type: integer
          description: "Dias a analizar (default 30)"
        period:
          type: string
          description: "Periodo de tiempo"
          enum: ["today", "yesterday", "last_7_days", "last_30_days"]
      required: ["action", "agent_id"]

    GetAgentPermissionsArgs:
      description: |
        **get_agent_permissions** [agents] (query)
        Obtiene los permisos configurados de un agente y el registro completo de permisos disponibles
      type: object
      properties:
        action:
          type: string
        id:
          type: integer
          description: "ID del agente"
      required: ["action", "id"]

    GetAgentStatsArgs:
      description: |
        **get_agent_stats** [agents] (query)
        Metricas de rendimiento del equipo: mensajes enviados, recibidos, tareas completadas
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        period:
          type: string
          enum: ["today", "yesterday", "last_7_days", "last_30_days"]
          default: "last_7_days"
        agent_id:
          type: integer
          description: "ID del agente para filtrar"
        days:
          type: integer
          description: "Numero de dias a consultar"
      required: ["action"]

    GetAgentTasksArgs:
      description: |
        **get_agent_tasks** [tasks] (query)
        Muestra las tareas asignadas a un agente especifico
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        agent_id:
          type: integer
          description: "ID del agente"
        include_completed:
          type: string
          description: "Incluir tareas completadas (default 0)"
          enum: ["0", "1"]
          default: "0"
        status:
          type: string
          description: "Estado de la tarea"
        phone:
          type: string
          description: "Telefono del cliente"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        task_text:
          type: string
          description: "Texto de la tarea"
        due_date:
          type: string
          description: "Fecha limite YYYY-MM-DD"
        priority:
          type: string
          description: "Prioridad de la tarea"
          enum: ["low", "medium", "high"]
        assigned_agent_id:
          type: integer
          description: "ID del agente asignado"
        task_id:
          type: integer
          description: "ID de la tarea"
      required: ["action", "agent_id"]

    GetAiErrorsArgs:
      description: |
        **get_ai_errors** [knowledge] (query)
        List active AI corrections for this assistant. To list ALL corrections, pass no parameters. Only use category or query when filtering specific results.
      type: object
      properties:
        category:
          type: string
          description: "OPTIONAL filter. Omit to get ALL categories. Values: shipping, pricing, warranty, product, tone, policy, communication, general"
        query:
          type: string
          description: "OPTIONAL single keyword search. Omit to get ALL corrections. Use single words only, not sentences."

    GetAiSummaryArgs:
      description: |
        **get_ai_summary** [ai_analysis] (query)
        Genera un resumen de una conversacion usando IA. Tipos: quick (breve), detailed (completo), actionable (acciones pendientes). Consume creditos de IA.
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Telefono del cliente (con o sin +)"
        summary_type:
          type: string
          description: "Tipo de resumen: quick (breve), detailed (completo, default), actionable (acciones pendientes)"
          enum: ["quick", "detailed", "actionable"]
          default: "detailed"
        days:
          type: integer
          description: "Numero de dias a analizar"
        tone:
          type: string
          description: "Tono para la respuesta"
        hours:
          type: integer
          description: "Ultimas N horas a analizar"
        limit:
          type: integer
          description: "Maximo de resultados"
        target_language:
          type: string
          description: "Idioma destino para traduccion"
        last_n:
          type: integer
          description: "Ultimos N mensajes a procesar"
      required: ["action", "phone"]

    GetAnalyticsArgs:
      description: |
        **get_analytics** [stats] (query)
        Muestra metricas de rendimiento: conversaciones, mensajes, actividad diaria
      type: object
      properties:
        period:
          type: string
          description: "Periodo: 7d (semana), 14d (2 semanas), 30d (mes)"
          default: "7d"

    GetApiKeyArgs:
      description: |
        **get_api_key** [advanced] (query)
        Muestra la API key actual de la tienda (token_ext) y la URL del servidor MCP. Usa esta accion cuando el usuario pregunte por su API key, token, como conectar MCP, o como configurar Claude/Cursor/VS Code.
      type: object

    GetApiUsageStatsArgs:
      description: |
        **get_api_usage_stats** [activity] (query)
        Consumo de tokens y costes por modelo de IA
      type: object
      properties:
        action:
          type: string
        days:
          type: integer
          description: "Dias a analizar (default 30)"
        period:
          type: string
          description: "Periodo: last_7_days, last_30_days, this_month, last_month, last_90_days, all_time, custom"
        date:
          type: string
          description: "Fecha de referencia YYYY-MM-DD"
      required: ["action"]

    GetAutolearningMetricsArgs:
      description: |
        **get_autolearning_metrics** [stats] (query)
        Muestra las metricas del sistema de aprendizaje automatico. Se puede filtrar por estado de los snippets.
      type: object
      properties:
        filter:
          type: string
          description: "Filtrar metricas por estado: active (aprobados), pending (pendientes), disputed (en conflicto), stale (obsoletos)"
          enum: ["active", "pending", "disputed", "stale"]

    GetAutolearningStatsArgs:
      description: |
        **get_autolearning_stats** [stats] (query)
        Obtiene estadisticas detalladas del sistema de auto-learning: snippets activos, pendientes, rechazados, etc.
      type: object

    GetBusiestHoursArgs:
      description: |
        **get_busiest_hours** [activity] (query)
        Analiza a que horas del dia se reciben mas mensajes de clientes
      type: object
      properties:
        action:
          type: string
        days:
          type: integer
          description: "Dias a analizar (default 7)"
          default: 7
        period:
          type: string
          description: "Periodo: last_7_days, last_30_days, this_month, last_month, last_90_days, all_time, custom"
        date:
          type: string
          description: "Fecha de referencia YYYY-MM-DD"
      required: ["action"]

    GetCalendarSettingsArgs:
      description: |
        **get_calendar_settings** [calendar] (query)
        Get calendar integration settings (enabled, timezone, booking rules)
      type: object
      properties:
        action:
          type: string
      required: ["action"]

    GetCampaignArgs:
      description: |
        **get_campaign** [mass_marketing] (query)
        Obtiene los detalles completos de una campaña de marketing masivo
      type: object
      properties:
        action:
          type: string
        campaign_id:
          type: integer
          description: "ID de la campaña"
      required: ["action", "campaign_id"]

    GetCampaignLogsArgs:
      description: |
        **get_campaign_logs** [mass_marketing] (query)
        Obtiene el progreso y logs de envio de una campana especifica
      type: object
      properties:
        campaign_id:
          type: integer
          description: "ID de la campana"
        page:
          type: integer
          description: "Numero de pagina"
        limit:
          type: integer
          description: "Resultados por pagina"
      required: ["campaign_id"]

    GetChatPluginStatsArgs:
      description: |
        **get_chat_plugin_stats** [stats] (query)
        Muestra estadisticas de uso del plugin de chat web: conversaciones, mensajes, sesiones activas, referrers y paises
      type: object

    GetChatSessionsArgs:
      description: |
        **get_chat_sessions** [plugins] (query)
        Lista las sesiones recientes del widget de chat web
      type: object
      properties:
        action:
          type: string
        hours:
          type: integer
          description: "Horas a consultar (default 24)"
        limit:
          type: integer
          description: "Maximo resultados (default 20)"
        plugin_type:
          type: string
          description: "Filtrar por tipo de plugin"
        period:
          type: string
          description: "Periodo"
          enum: ["today", "yesterday", "last_7_days", "last_30_days"]
      required: ["action"]

    GetContactListDetailArgs:
      description: |
        **get_contact_list_detail** [mass_marketing] (query)
        Obtiene los contactos de una lista específica con paginación y búsqueda
      type: object
      properties:
        action:
          type: string
        list_id:
          type: integer
          description: "ID de la lista"
        page:
          type: integer
          description: "Número de página"
        search:
          type: string
          description: "Buscar contactos por teléfono o nombre"
      required: ["action", "list_id"]

    GetConversationAnalyticsArgs:
      description: |
        **get_conversation_analytics** [activity] (query)
        Distribucion de satisfaccion, urgencia e intenciones en conversaciones analizadas
      type: object
      properties:
        action:
          type: string
        days:
          type: integer
          description: "Dias a analizar (default 30)"
        date:
          type: string
          description: "Fecha especifica YYYY-MM-DD"
        period:
          type: string
          description: "Periodo de tiempo"
          enum: ["last_7_days", "last_30_days", "this_month"]
        phone:
          type: string
          description: "Filtrar por telefono del cliente"
      required: ["action"]

    GetConversationCountArgs:
      description: |
        **get_conversation_count** [conversations] (query)
        Cuenta conversaciones que coinciden con criterios de busqueda, fecha o periodo
      type: object
      properties:
        action:
          type: string
        query:
          type: string
          description: "Texto a buscar"
        period:
          type: string
          description: "Periodo predefinido"
          enum: ["today", "yesterday", "last_7_days", "last_30_days"]
        date_from:
          type: string
          description: "Fecha inicio YYYY-MM-DD"
        date_to:
          type: string
          description: "Fecha fin YYYY-MM-DD"
        phone:
          type: string
          description: "Filtrar por telefono del cliente"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        hours:
          type: integer
          description: "Ultimas N horas"
        conversation_id:
          type: integer
          description: "ID de conversacion especifica"
        last_n:
          type: integer
          description: "Ultimos N mensajes"
        agent_id:
          type: integer
          description: "ID del agente"
        message:
          type: string
          description: "Texto del mensaje a enviar o eliminar"
        format:
          type: string
          description: "Formato de respuesta"
      required: ["action"]

    GetConversationDetailArgs:
      description: |
        **get_conversation_detail** [conversations] (query)
        Muestra los mensajes completos de una conversacion especifica, incluyendo datos del cliente
      type: object
      properties:
        action:
          type: string
          description: "Accion fija"
        phone:
          type: string
          description: "Numero de telefono del cliente"
        conversation_id:
          type: integer
          description: "ID de la conversacion (alternativa a phone)"
        last_n:
          type: integer
          description: "Cantidad de ultimos mensajes a mostrar (default 50, max 200)"
          default: 50
        query:
          type: string
          description: "Texto de busqueda"
        date_from:
          type: string
          description: "Fecha inicio YYYY-MM-DD"
        date_to:
          type: string
          description: "Fecha fin YYYY-MM-DD"
        limit:
          type: integer
          description: "Maximo de resultados"
        offset:
          type: integer
          description: "Posicion de inicio para paginacion"
        hours:
          type: integer
          description: "Ultimas N horas"
        period:
          type: string
          description: "Periodo de tiempo"
          enum: ["today", "yesterday", "last_7_days"]
        agent_id:
          type: integer
          description: "ID del agente"
        message:
          type: string
          description: "Texto del mensaje a enviar o eliminar"
        format:
          type: string
[...]
